<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        header
      </h1>
    </header>

    <main>
      <p>main</p>

      <div class="container">	

      <form action="api/polls/" method="post">
        <h3>
         Create a poll
        </h3>
        <label for="title">Title:</label>
        <input id="title" type="text" name="title" placeholder="Title" required>
        <label for="options">Choices:</label>
        <textarea id="options" rows="5" name="options" placeholder="Separate your options by new lines (return/enter)."></textarea>
        <input type="submit" value="Submit">
      </form>
      
      <div id="root">
      </div>
      
		</div>
      
    </main>

    <footer>
      <a href="https://glitch.com">
        Remix this in Glitch
      </a>
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script crossorigin src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>
    
    <!-- Create React Component -->
    <!-- use a constructor and super method to pass props down -->
    
    <script type="text/babel">
      
      class Polls extends React.Component {

        constructor(props) {
          super(props);
          this.state = {
            list: [],
          };
        }
        
        componentDidMount() {
          var myInit = {method:"GET"};
          fetch('/api/polls', myInit)
            .then((response) => {
              return response.json();
            }).then((data) => {
              this.state.list = data;
              this.setState(this.state);
            });
        }
        
        render() {
        
          var testJSON = JSON.stringify(this.state.list);
          var test = this.state.list;
          
          var test2 = test.map(function(poll, index){
            return (
              <li key={index}>
                <span className="title">{poll.title}</span>
              </li>
            )
          });
          
          return(
            <div className="pollContainer">
            <h6>Polls:</h6>
            <ul>{test2}</ul>
            </div>
          )
        }
      
      }
      
      ReactDOM.render(<Polls />, document.getElementById('root'));
      
    </script>

  </body>
</html>
