<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>Make a Poll</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="/style.css"> -->
  </head>
  <body>

    <header>
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Make a Poll</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/newpoll">New</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main role="main">
      <div class="container pt-3">
        <div id="root">
        </div> 
      </div>
    </main>

    <footer>
      <div class="container pt-3">
        <hr>
        Made by Jordan Johnson
      </div>
    </footer>
    


    <!-- Your web-app is https, so your scripts need to be too -->
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script crossorigin src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <!-- <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script> -->
    
    <!-- Create React Component -->
    <!-- use a constructor and super method to pass props down -->
    
    <script type="text/babel">
      
      class Polls extends React.Component {

        constructor(props) {
          super(props);
          this.state = {
            list : [],
          };
        }
        
        componentDidMount() {
          var str = window.location.href;
          var res = str.split("?");
          var getPath = '/api/polll/' + res[1];
          var init = {method:"GET"};
          fetch(getPath, init)
            .then((response) => {
              return response.json();
            }).then((data) => {
              this.state.list = data;
              this.setState(this.state);
          });
        }

        render() {

          var str1 = window.location.href;
          var res1 = str1.split("?");
          var getPath1 = '/api/polls/' + res1[1];

          var pollOptions = this.state.list.map(function(prop, index) {
          
            var pollList = prop.options.map(function(prop, index) {

              return <li key={index}> {prop.name}, votes: {prop.votes} <a href={getPath1}>vote</a></li>
            });
          
            return pollList;
            
          });
          
          
          
          return(
            <div>
              <ul> {pollOptions} </ul>
            </div>
          )
          
        }
      
      }
      
      ReactDOM.render(<Polls />, document.getElementById('root'));
      
    </script>

  </body>
</html>

